body{
	background-color: #98FB98;
}

div.header{
	text-align: center;
	margin-top: 4%;

}

div.principal_css{
	background-color: #7FFFD4;
}
/*
div.conteudo{
	padding: 10px;
}
*/

div.login_css{
	border-width: 2px;
	border-color: black black black #7FFFD4;
	border-style: solid;
}

span.input-group-addon{
	width: 20%;
}

div.social_network{
	margin-top: 10%;
}

div.mapa_css{
	border-width: 2px;
	border-color: black;
	border-style: solid;
}

div.menu_css{
	/*border-width: 2px;
	border-color: black;
	border-style: solid;*/
}

div.pedidos_css{
	/*background-color: yellow;
	border-width: 2px;
	border-color: black;
	border-style: solid;*/
}

img.home{
	display: block;
	margin: auto;
}

div.xyz{
	background-color: black;
}

div.faca_doacao{
	background-color: yellow;
}

p.link_page{
	text-align: center;
	font-size: 20px;
	color: black;
}

span{
	font-size: 18px;
	color: white;
}

span.log{
	color: black;
}

span.centro{
	text-align: center;
	display: block;
	margin-top: -10%;
}

span.entre{
	font-size: 20px;
	color: purple;
}
.escondido{
	display: hidden;
}
input{
	position: relative;
	margin-left: -7%;
}
