body{
	/*background-color: red;*/
}

div.principal_css{
	
}
/*
div.conteudo{
	padding: 10px;
}
*/
div.mapa_css{
	border-width: 2px;
	border-color: black;
	border-style: solid;
}

div.menu_css{
	background-color: gray;
}

div.pedidos_css{
	background-color: yellow;
}

img.home{
	display: block;
	margin: auto;
}

div.xyz{
	background-color: black;
}

div.faca_doacao{
	background-color: yellow;
}

p.link_page{
	text-align: center;
	font-size: 20px;
	color: black;
}

span{
	font-size: 18px;
	color: white;
}

span.centro{
	text-align: center;
	display: block;
}

span.entre{
	font-size: 20px;
	color: yellow;
}

input{
	position: relative;
	margin-left: -5.5%;
}