<html>
<head>
	<title>Colaboration</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/e_index.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMhibe845_crh_ZqrPRG9-j2bH0XAXDXs&callback=initMap" async defer></script>
</head>
<body>

	<div class="container principal_css">
		<div class="row" class="conteudo">
			<div class="col-md-10 mapa_css" id="map">

			</div>

			<div class="col-md-2 login_css">
				<a class="btn btn-lg btn-primary col-md-8" href="/auth/facebook" role="button" >
					<img src="images/face.png" alt="Logo do Facebook" title="Logar com o Facebook" width="50%" height="5%" class="face">
				</a>
				<br>
				<span class="log">Login:</span>
					<input type="text" name="Login" placeholder="Digite o seu login">

				<span class="pass">Senha:</span>
					<input type="password" name="Senha" placeholder="Digite a sua senha">

				<a href="">
					<span class="entre centro">Entre<br>
					</span>
				</a>

					<span class="centro">ou<br></span>
				<a href="">
					<span class="entre centro">Cadastre-se!<br></span>
				</a>

				<div class="row">
					<div class="col-md-12 menu_css">
						<a href="index.ejs">
							<p>
								<img src="images/home.png" alt="Ícone da página Home" title="Home" width="40%" height="10%" class="home">
							</p>
						</a>
						<a href="info.ejs">
							<p class="link_page">
								INFORMAÇÕES
							</p>
						</a>
						<a href="doar.ejs">
							<p class="link_page">
								DOAR
							</p>
						</a>
						<a href="solicitar.ejs">
							<p class="link_page">
								SOLICITAR
							</p>
						</a>

						<div class="row">
							<div class="col-md-12 pedidos_css">
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<script>
	function addMarker(location, map, type){
		var image;
		if(type == 0)
			image = "./images/marcadorverde.png";
		else {
			image = "./images/marcadorpink.png";
		}
		var marker = new google.maps.Marker({position: location, map: map, icon: image});
	}

	function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 10
        });
        var infoWindow = new google.maps.InfoWindow({map: map});
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
						map.setCenter(pos);
						addMarker(pos, map, 0);
						// 	var pos = {
	          //     lat: solicitacoes[i].localizacao.latitude,
	          //     lng: solicitacoes[i].localizacao.longitude
						// }
						//addMarker(pos, map, 1);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }
  </script>

	<%for(var i=0; i< solicitacoes.length; i++){%>
		<%= console.log(solicitacoes[i]);%>
	<%}%>
</body>
</html>
