<html>
<head>
	<title>Informações</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="css/e_index.css"/>
</head>
<body>

	<div class="container principal_css">
		<div class="row" class="conteudo">
			<div class="col-md-8 mapa_css">
				<select name="cidade">
					<option value="Charqueadas" selected>Charqueadas</option>
					<option value="São Jerônimo">São Jerônimo</option>
					<option value="Arroio dos Ratos">Arroio dos Ratos</option>
					<option value="Triunfo">Triunfo</option>
				</select>
			</div>
			
			<div class="col-md-4 login_css">
				<span class="log">Login:</span>
					<input type="text" name="Login" placeholder="Digite o seu login">

				<span class="pass">Senha:</span>
					<input type="password" name="Senha" placeholder="Digite a sua senha">

				<a href="">
					<span class="entre centro">Entre<br>
					</span>
				</a>

					<span class="centro">ou<br></span>
				<a href="">
					<span class="entre centro">Cadastre-se!<br></span>
				</a>

				<div class="row">
					<div class="col-md-12 menu_css">
						<a href="index.ejs">
							<p>
								<img src="images/home.png" alt="Ícone da página Home" title="Home" width="30%" height="20%" class="home">
							</p>
						</a>
						<a href="info.ejs">
							<p class="link_page">
								INFORMAÇÕES
							</p>
						</a>
						<a href="doar.ejs">
							<p class="link_page">
								DOAR
							</p>
						</a>
						<a href="solicitar.ejs">
							<p class="link_page">
								SOLICITAR
							</p>
						</a>
						
						<div class="row">
							<div class="col-md-12 pedidos_css">
								<p>Previsão do tempo</p>
								<p>Previsão do tempo</p>
								<p>Previsão do tempo</p>
								<p>Previsão do tempo</p>
								<p>Previsão do tempo</p>
								<p>Previsão do tempo</p>
								<p>Previsão do tempo</p>
								<p>Previsão do tempo</p>
								<p>Previsão do tempo</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 xyz">
				<a href="">
					<img src="images/doacao.png" alt="Imagem com a seguinte frase:'Clique aqui para fazer uma doação'" title="Faça uma doação!" width="70%" height="60%" class="">
				</a>
			</div>
		</div>
	</div>

</body>
</html>