<html>
<head>
	<title>Informações</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/e_info.css"/>
</head>
<body>

	<div class="container principal_css">
		<div class="row" class="conteudo">
			<div class="col-md-8 mapa_css">
				<select name="cidade">
					<option value="Charqueadas" selected>Charqueadas</option>
					<option value="São Jerônimo">São Jerônimo</option>
					<option value="Arroio dos Ratos">Arroio dos Ratos</option>
					<option value="Triunfo">Triunfo</option>
				</select>
			</div>
			
			<div class="col-md-4 login_css">
				Login aqui<br>
				Login aqui<br>
				Login aqui<br>
				<div class="row">
					<div class="col-md-12 menu_css">
						<a href="../index.html">
							<p>
								<img src="../imgs/home.png" alt="Ícone da página Home" title="Home" width="30%" height="20%" class="home">
							</p>
						</a>
						<a href="info.html">
							<p class="link_page">
								INFORMAÇÕES
							</p>
						</a>
						<a href="doar.html">
							<p class="link_page">
								DOAR
							</p>
						</a>
						<a href="solicitar.html">
							<p class="link_page">
								SOLICITAR
							</p>
						</a>
						
						<div class="row">
							<div class="col-md-12 pedidos_css">
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
								<p>Pedidos aqui</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>

</body>
</html>